<%- include('./partial/head') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Change Password</title>
        <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon.svg">
        <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />

        <style>
            body,
            .navbar-aside {
                background-color: #fff;
            }

            .custom-top {
                position: absolute;
                top: 15%;
                left: 0;
                width: 100%;
            }

            .text-decoration {
                text-decoration: none;
            }

            .main-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background-color: #fff;
                padding-left: 250px;
            }

            .password-section {
                width: 100%;
                max-width: 500px;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 8px;
                background-color: #fff;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            }

            .password-section h2 {
                margin-bottom: 20px;
            }

            .form-group {
                margin-bottom: 15px;
            }

            .form-group label {
                display: block;
                margin-bottom: 5px;
            }

            .form-group input {
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            .form-group button {
                padding: 10px 20px;
                color: #fff;
                background-color: #007bff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            .form-group button:hover {
                background-color: #0056b3;
            }

            .error {
                color: red;
                font-size: 12px;
                margin-top: 5px;
            }
        </style>
    </head>

    <body>
        <aside class="navbar-aside custom-top" id="offcanvas_aside">
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item">
                        <a class="menu-link" href="/userProfile ">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">My Profile</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/orderDetails">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Orders</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/addressPage">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">My Address</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/walletPage">
                            <i class="icon material-icons md-account_balance_wallet"></i>
                            <span class="text">Wallet</span>
                        </a>
                    </li>
                    <li class="menu-item active">
                        <a class="menu-link" href="/changePassword">
                            <i class="icon material-icons md-settings"></i>
                            <span class="text">Change password</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <ul class="menu-aside">
                    <li class="menu-item">
                        <a class="menu-link" href="/logout">
                            <i class="icon material-icons md-local_offer"></i>
                            <span class="text">Logout</span>
                        </a>
                    </li>
                </ul>
                <br>
                <br>
            </nav>
        </aside>

        <div class="main-container">
            <div class="password-section">
                <h2>Change Password</h2>
                <p class="text-center text-danger w-50" style="color: red;">
                    <%= message %>
                </p>
                <form action="/updatePassword" id="changePasswordForm" method="POST">
                    <div class="form-group">
                        <label for="current-password">Current Password:</label>
                        <input type="password" id="current-password" name="currentPassword">
                    </div>
                    <div class="form-group">
                        <label for="new-password">New Password:</label>
                        <input type="password" id="password" name="newPassword" onkeyup="validatePassword()">
                        <div class="error" id="passwordError"></div>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Confirm New Password:</label>
                        <input type="password" id="confirmPassword" name="confirmPassword"
                            onkeyup="validateConfirmPassword()">
                        <div class="error" id="confirmPasswordError"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </form>
            </div>
        </div>

        <script src="/admin-assets/js/main.js"></script>
        <script>
            function validatePassword() {
                const value = document.getElementById('password').value.trim();
                const errorMessage = document.getElementById('passwordError');
                errorMessage.textContent = '';

                if (value === '') {
                    errorMessage.textContent = 'Password is required.';
                    return false;
                } else if (value.length < 6) {
                    errorMessage.textContent = 'Password must be at least 6 characters long.';
                    return false;
                }
                return true;
            }

            function validateConfirmPassword() {
                const value = document.getElementById('confirmPassword').value.trim();
                const passwordValue = document.getElementById('password').value.trim();
                const errorMessage = document.getElementById('confirmPasswordError');
                errorMessage.textContent = '';

                if (value === '') {
                    errorMessage.textContent = 'Confirm Password is required.';
                    return false;
                } else if (value !== passwordValue) {
                    errorMessage.textContent = 'Passwords do not match.';
                    return false;
                }
                return true;
            }

            document.getElementById('changePasswordForm').addEventListener('submit', (e) => {
                e.preventDefault()

                const isPasswordValid = validatePassword();
                const isConfirmPasswordValid = validateConfirmPassword();


                if (isPasswordValid && isConfirmPasswordValid) {
                    document.getElementById('changePasswordForm').submit()
                }
            })
        </script>
        <%- include('./partial/footer') %>
    </body>

    </html>